data_dir = "/config"
check_frequency_seconds = 60

[server]
bind_address = "0.0.0.0:9899"

[lidarr]
url = "https://lidarr.example.com"
api_key = "a3bb47a4968223c7568b06d4a2e9cf95"
queue_page_size = 100
queue_max_pages = 100

[cue]
strict = false

[shnsplit]
path = "shnsplit"
overwrite = true
format = "%p - %a - %n - %t"
